@(trackInfo: Application.TrackMetaInfo)

@main("Ztream") {
  <header class="header">
    <div class="container">
     <div class="row">
      <div class="span6 offset1">
        <h1 class="main-title">=>Ztream</h1>
      </div>
      <div class="span4">
        <a href="https://twitter.com/share" class="twitter-share-button pull-right" data-text="P2P Web music streaming built with #playframework #scala and #webRTC" data-via="altamborrino" data-size="large">Tweet</a>
      </div>
    </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="span10 offset1">
        <div class="description">
          <p>Ztream is a proof of concept for <strong>P2P Web music streaming</strong> built with <a href="http://www.playframework.com/">Play Framework</a>/<a href="http://akka.io/">Akka</a> (Scala), <a href="http://www.webrtc.org/">WebRTC</a>, <a href="https://dvcs.w3.org/hg/html-media/raw-file/tip/media-source/media-source.html">Media Source</a> and <a href="http://reactivemongo.org/">ReactiveMongo</a>. It is inspired from the <a href="http://www.csc.kth.se/~gkreitz/spotify-p2p10/spotify-p2p10.pdf">architecture</a> of the Spotify's desktop client, but transposed to the Web!</p>
          <p>A peer streams musics from other peers and/or from the server (which streams them directly from MongoDB) in an adaptive and transparent way in order to ensure <strong>low workload</strong> for the server but still <strong>low latency</strong> for the user. More technical details can be found on the <a href="https://github.com/atamborrino/ztream">Github page</a>.</p>
          <p>Warning: you need <strong>Chrome/Chromium >= ?</strong> to play the demo, for instance <a href="https://www.google.com/intl/en/chrome/browser/canary.html">Chrome Canary</a> (sadly Firefox does not support Media Source yet).</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span10 offset1">
        <hr>
        <div id="player">
          <h2>Now you can stream Gangnam Style in a P2P way</h2>
          <div class="row">  
            <div class="span3">
              <p><img src="@routes.Assets.at("images/play.png")" height="128" width="128" id="playButton" alt="Play"/></p>
              <div class="time">
                <p><span id="currentTime">00:00</span> / <span id="totalTime">00:00</span></p>
              </div>
            </div>
            <div class="span7">
              <table class="table data">
                <tr>
                  <td>Chunks downloaded</td><td><span id="chunkN">0</span> / <span id="totalNbChunk">@trackInfo.nbChunk</span></td>
                </tr>
                <tr>
                  <td>Streamed from server</td><td><span id="percentageServer">0</span> %</td>
                </tr>
                <tr>
                  <td>Streamed from peers</td><td><span id="percentagePeers">0</span> %</td>
                </tr>
                <tr>
                  <td>Seeder found</td><td id="connectedToSeeder">false</td>
                </tr>
                <tr>
                  <td>Peer(s) streaming from you</td><td id="nbLeechers">0</td>
                </tr>
                <tr>
                  <td>Total number of peers in the network</td><td id="totalNumberPeers">0</td>
                </tr>
                <tr>
                  <td>Track name</td><td id="trackName">@trackInfo.name</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>  
    </div>
    <div class="row">
      <div class="span10 offset1">
        <div class="indication">
          <p> <strong>NB:</strong> If no seeder is found (i.e "Seeder found" remains false while you are streaming), you can
          simulate peers by opening Zstream in other tabs. Remember, a peer can become a seeder only once he has already cached 
          the whole track.</p>
          <p> Open your console to see some logs on what is going on. </p>
          <span id="forkongithub"><a href="https://github.com/atamborrino/ztream">Fork me on GitHub</a></span>
        </div>
      </div>
    </div>
  </div>
  <!-- Tweet script -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
}


 